@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Noto Serif 字体 */
  @font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/NotoSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/NotoSerif-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/NotoSerif-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/NotoSerif-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }

  /* Noto Sans 字体 */
  @font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
} 